
#editor_output_container .ace_method,
sense-help-example .ace_method,
sense-history-viewer .ace_method {
  color: #e64a3a
}

#editor_output_container .ace_url,
sense-help-example .ace_url,
sense-history-viewer .ace_url {
  color: #40b0d3
}

#editor_output_container .ace_variable,
sense-help-example .ace_variable,
sense-history-viewer .ace_variable {
  color: #006e8a
}

#editor_output_container .ace_string,
sense-help-example .ace_string,
sense-history-viewer .ace_string {
  color: #166555
}

#editor_output_container .ace_warning,
sense-help-example .ace_warning,
sense-history-viewer .ace_warning {
  color: #e64a3a
}

#editor_output_container .ace_scroller,
sense-help-example .ace_scroller,
sense-history-viewer .ace_scroller {
  border-left: 1px solid #ccc
}

#editor_output_container .ace_multi_string,
sense-help-example .ace_multi_string,
sense-history-viewer .ace_multi_string {
  color: #166555;
  font-style: italic
}

#editor_output_container .ace_end_triple_quote,
#editor_output_container .ace_start_triple_quote,
sense-help-example .ace_end_triple_quote,
sense-help-example .ace_start_triple_quote,
sense-history-viewer .ace_end_triple_quote,
sense-history-viewer .ace_start_triple_quote {
  color: #40b0d3
}

#editor_output_container .ace_snippet-marker,
sense-help-example .ace_snippet-marker,
sense-history-viewer .ace_snippet-marker {
  background: rgba(194, 193, 208, .2);

  margin-top: -1px
}

#editor_output_container .ui-menu,
sense-help-example .ui-menu,
sense-history-viewer .ui-menu {
  background-color: #fff;
  border: 1px solid #ccc
}

#editor_output_container .ui-state-focus,
sense-help-example .ui-state-focus,
sense-history-viewer .ui-state-focus {
  color: #fff;
  background-color: #08c
}

#editor_output_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  padding: 10px;
  font-size: 16px
}

#editor_output_container .ace-tm .ace_gutter {
  background: #fff;
  color: #a0a0a0
}

#editor_output_container .ace-tm .ace_gutter-active-line {
  background-color: #e6e6e8
}

#editor_output_container .ace-tm .ace_marker-layer .ace_active-line {
  background-color: #dbdcdd
}

#editor_output_container .ace_snippet-marker {
  background-color: #e8e8e8;
  border: 0
}

.eser_ace_container {
  position: relative
}

.eser_ace_container #autocomplete {
  position: absolute;
  left: -1000px
}

.eser_ace_container .eser_ace_editor_actions {
  position: absolute
}

.eser_ace_container .eser_editor {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 1px;
  -ms-flex: 1 1 1px;
  flex: 1 1 1px
}

#editor_resizer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 13px;
  -ms-flex: 0 0 13px;
  flex: 0 0 13px;
  cursor: ew-resize;
  background-color: #e4e4e4;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: -10px 0
}

#editor_resizer:hover {
  background-color: #cbcbcb
}

#editor_resizer.active {
  background-color: #7e7e7e
}

#output_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

#output_container,
#output_container #output {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 1px;
  -ms-flex: 1 1 1px;
  flex: 1 1 1px
}

.eser_ace_editor_actions {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1;
  padding: 1px 3px 0 0;
  z-index: 1005
}

.eser_ace_editor_actions .editor_action {
  padding: 2px 4px
}

.eser_ace_editor_actions .editor_action:hover {
  text-decoration: none
}

.eser_ace_editor_actions .fa-wrench {
  color: #333
}

.eser_ace_editor_actions .fa-play {
  color: #70ba56
}

#autocomplete {
  visibility: hidden;
  position: absolute;
  z-index: 1003;
  margin-top: 22px
}

.ui-state-focus {
  margin: auto!important
}

sense-help-example {
  display: block;
  height: 11em;
  margin: 1em 0
}

.history-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px
}

.history-body .history-reqs,
.history-body .history-viewer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%
}

.history-body .history-reqs {
  overflow: auto;
  margin: 0 25px 0 0
}

.history-body .history-req {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.history-body .history-req.selected {
  background-color: #dcdcdc
}

.history-body .history-req .history-req-icon {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-align: right
}

.history-body .history-req .history-req-icon .fa-chevron-right {
  opacity: .25
}

.history-footer {
  text-align: right;
  padding-top: 10px
}

.ui-autocomplete {
  z-index: 400!important
}

.ace_editor {
  line-height: normal
}

.ace_layer.ace_marker-layer {
  overflow: visible
}

.ace_snippet-marker {
  position: absolute;
  width: 100%!important
}

.ui-resizable-e.active {
  background-color: #c2c1d0
}